<div class="col d-inline" style="font-size: 50pt;" data-toggle="tooltip" title="<%=badge.description%>" data-placement="bottom">
	<div data-toggle="tooltip" title="<%=badge.name%>" data-placement="top">
		<%=badge.render%>
	</div>
</div>