<div class="col-1 mt-2" style="font-size: 25pt;" data-toggle="tooltip" title="<%=badge.description%>" data-placement="bottom">
	<div data-toggle="tooltip" title="<%=badge.name%>" data-placement="top">
		<%=badge.render%>
	</div>
</div>