<div class="col-2 mt-2" style="font-size: 25pt;">
	<div data-toggle="tooltip" data-html="true" title="<u><%=badge.name%></u><br /> <%=badge.description%>" data-placement="top">
		<%=badge.render%>
	</div>
</div>