<div class="card w-50 mx-auto mt-5">
	<div class="card-body">
		<h1 class="text-center">Sign up with APPNAME</h1>

		<%= render 'form', user: @user %>

		<%= link_to 'Back', root_path, class: "btn btn-secondary w-100 text-white" %>
	</div>
</div>