<div class="row my-5 text-center">
	<div class="col">
		LOGO GOES HERE
	</div>
</div>

<div class="row text-center">
	<div class="col">
		<h1><%= @user.full_name %></h1>
	</div>
</div>

<div class="row">
	<div class="col text-center">
		Score: <%=@user.score%>
	</div>
</div>

<% if signed_in? && (current_user.id == @user.id) %>
	<div class="row text-center">
		<div class="col">
			<%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-link text-white" %>
		</div>
	</div>
<% end %>

<hr />

<div class="row">
	<div class="col-sm-12 col-md-4"></div>

	<div class="col-sm-12 col-md-4"></div>

	<div class="col-sm-12 col-md-4"></div>
</div>