// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Checkboxes that change their labels when selected*/
.hidden-checkbox 	{
	display:none;
}


.label-for-check	{
	font-size: 32pt;
}

.hidden-checkbox:checked + .label-for-check {
  color: green;
}
